.sidebar{
    width:240px;
    background:#1f2937;
    color:white;
    padding:25px;
    display:flex;
    flex-direction:column;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar a{
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:8px;
    margin-bottom:10px;
}

.sidebar a:hover{
    background:#374151;
}