.stat-card{
    background:white;
    border-radius:12px;
    padding:25px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.icon{
    font-size:35px;
}

.stat-card h3{
    margin-top:15px;
    color:#666;
}

.stat-card h2{
    margin-top:10px;
    color:#ff6b00;
}